.pagination {
    cursor: pointer;
    margin: 60px 10%;
    text-align: right;
    width: 80%;
    li {
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        margin-left: 8px;
        text-align: center;
        vertical-align: middle;
      }

      a {
        border-radius: 5px;
        border: 1px solid #D9D9D9;
        color: #595959;
        height: 35px;
        min-width: 34px;
        padding: 6px 12px;
      }

      .previous,
      .next {
          a {
            padding: 6px 11px;
          }
      }

      &__item a {
        border: 1px solid #D9D9D9;
        color: #595959;
        height: 35px;
        
      }

      &__link a {
        color: #1890FF;
        border: 1px solid #D9D9D9;
      }

      &__link--active a {
        color: #1890FF;
        border: 1px solid #1890FF;
      }

      &__link--disabled a {
        color: rgb(198, 197, 202);
        cursor: default;
        border: 1px solid rgb(198, 197, 202);
      }
}
