@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import './effects.css';

body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    font-family: "Roboto";
    color: #303030;
}
.baseStyle {
    position: relative;
}

form {
    padding: 5%;
}
